:root {
  --btn-color:#493df0;
  --white-color:#ffffff;
  --text-shadow:#00000040;
  --primary-text-color:#161c2c;
  --second-text-color:#f64c4c;
  --green-color:#69d485;
  --blue-card-shadow:#161c2c2a;
  --stars-color:#fcad36;
  --line-color:#e8eaed;
  --line-choose-color:#E7E9ED;
  --background-second-color:#f5f7fa;
  --cta-line-color:#272b3a;
  --footer-icon:#7c808d;
}